parameters:
    level: 8
    paths:
        - src
        - tests
    tmpDir: phpstan.cache
    excludePaths:
        analyseAndScan:
            - vendor
    ignoreErrors:
        - '#Static property ArchiPro\\Silverstripe\\EventDispatcher\\Service\\EventService::\$listeners is never read, only written\.#'
        - '#Static property ArchiPro\\Silverstripe\\EventDispatcher\\Service\\EventService::\$loaders is never read, only written\.#'
