name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: CI
    uses: silverstripe/gha-ci/.github/workflows/ci.yml@v1
    with:
      dynamic_matrix: false
      extra_jobs: |
        - php: '8.1'
          db: mysql80
          phpunit: true
          installer_version: ^4
        - php: '8.2'
          db: mysql80
          phpunit: true
          installer_version: ^5
        - php: '8.3'
          db: mariadb
          phpunit: true
          installer_version: ^5

  coding-standards:
    name: Coding Standards
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none
          tools: composer:v2, php-cs-fixer

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Check coding standards
        run: php-cs-fixer fix --dry-run --diff 